.stat_list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  text-align: center;
  align-items: center;
  color: #000000;
}
