.statistics {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  text-align: center;
  background-color: #fff;
  width: 300px;
}
.title {
  margin: 0;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
}
.stat_list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  text-align: center;
  align-items: center;
  color: white;
  /* background-color: rgb(174, 220, 238); */
  border: solid 0.5px rgb(188, 190, 190);
}
